.searchBlockContainer {
  width: 100%;
  border: 0.1rem solid var(--color-common-black);
  height: 4.8rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem;
}
.searchForm {
  width: 100%;
}
.searchInputWrapper {
  display: flex;
  justify-content: center;
}
.searchButtonWrapper {
  text-align: center;
}
.searchInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 1rem;
}
.searchInput:placeholder-shown {
  text-overflow: ellipsis;
}
.error {
  border: 0.1rem solid var(--color-error-main);
  margin: 0 1rem 0 0;
}
.textError {
  color: var(--color-error-main);
}
