.container {
  position: relative;
}

.container :global {
  /* Slider */
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    display: flex;
    height: auto !important;
    margin: 0 12px;
  }

  .slick-slide > * {
    height: 100%;
  }

  .slick-list {
    margin: 0 -12px;
  }

  .slick-disabled {
    display: none;
  }

  .slick-prev {
    left: -55px;
  }

  .slick-next {
    right: -55px;
  }

  @media (max-width: 1024px) {
    .slick-slide {
      margin: 0 4px;
    }
    .slick-list {
      margin: 0 -4px;
    }
  }
}

.title {
  margin: 0.8rem 0 0.8rem 0;
}

.subtitle {
  padding-top: 1.6rem;
}

@media (max-width: 1024px) {
  .introBlock {
    margin: 0.8rem 0 1.6rem 0;
  }
}

.footerContainer {
  margin: 2rem 0 0;
  text-align: right;
}
.footerButton {
  justify-content: flex-end;
}
