.bold {
  font-weight: bold;
  margin-right: 2rem;
}
.ratingContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  line-height: 2.8rem;
  justify-content: flex-start;
}
.rating {
  margin-right: 0.4px;
  margin-bottom: 0.4rem;
}
.ratingIcon {
  color: var(--color-common-black);
  font-size: 1.6rem;
  padding-right: 0.4rem;
}
.reviewCount {
  text-decoration: underline;
  text-decoration-style: solid;
}
